body{
    background-color: black;
    margin: 10px;
}

.header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.menu{
    color: blueviolet;
    text-decoration: transparent;
    margin: 15px;
    
}

.titulo{
    color: white;
}

.nombre{
    color: darkgray;
    text-decoration: transparent;
}

.linkadetalle{
    color: darkgray;
    text-decoration: transparent;
    font-size: 18px;
}

.footer{
    color: blueviolet;
    width: 100%;
    height: 30px;
    text-align: center;
    font-size: 18px;
    position: relative;
    bottom: 0px;
}

@media (max-width: 420px){
    .header{
        justify-content: center;
    }
    
    .menu{
        margin: 0px;
    }
    
    .buscador{
        justify-content: center;
    }

    }